@{
    ViewData["Title"] = "Trang chủ";
    var introModel = (IntroModel)ViewBag.Intro;
    var configs = (List<ConfigModel>) ViewBag.Configs;
}
<div class="text-center">
    <img class="img-fluid" src="@introModel.imgBanner" alt="">
</div>

<div class="div-config">
    <div class="title">Tướng miễn phí tuần</div>
</div>

<div class="text-light div-config">
    <div class="title">Yêu cầu cấu hình thiết bị</div>
    <div class="note">Lưu ý: Các thiết bị đời thấp hoặc có cấu hình thấp hơn Cấu hình đề nghị dưới đây vẫn có thể tải và chơi game, tuy nhiên có thể sẽ gặp tình trạng lag/giật/văng game do cấu hình thiết bị không đạt yêu cầu.</div>
    <img class="img-fluid" style="margin: auto;" src="https://lienquan.garena.vn/asset/images/img-down.png">
    <table class="table table-dark tbl">
        <tr>
            @{
                foreach (var item in configs)
                {
                    <td class="td-logo"><img src="@item.image" alt=""></td>
                    <td class="td-content">
                        <div>Yêu cầu thiết bị</div>
                        <div>Cấu hình @item.name đề nghị</div>
                        <div>Chip: @item.chip</div>
                        <div>RAM: @item.ram</div>
                        <div>Phiên bản: @item.version</div>
                        <div>Dung lượng bộ nhớ trống: @item.store</div>
                    </td> 
                }
            }
            
        </tr>
    </table>
</div>
